*, html {
    margin:0;
    padding:0;  
}
nav{
    background-color:  #FF6700;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    
}
.h-menu{
    display: flex;
    gap: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.h-btn{
    background-color: black;
    padding: 10px;
    color: white;
    border: none;
}
.h-btn1{
    padding: 10px;
    color: white;
    border: solid;
    border-color: black;
    background-color: #FF6700;
}
.product-p{
    margin: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.pp-section{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 60px;
    margin: 5px 300px;
   
}

.pp-section h3{
    font-family: Arial, Helvetica, sans-serif;
}
.pp-section p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 888px){
    body{
        overflow-x: hidden;
    }
    .pp-section{
        width: 300px;
        margin: 0px 0px;
        overflow-x: hidden;
    }
    .haven{
        margin: 0px 0px;
        max-width: 350px;
    }
    .h-menu{
        display: none;
    }
    .two-btn{
        display: none;
    }
    nav{
        width: 85%;
    }
 }
